body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea {
  background:none;
  border: none;
  resize: none;
  color: #000000;
  padding: 10px;
  text-decoration-color: #000000;

}

/* Changes the main header in the file */
.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

/* Makes the text area to write wrapeed */
.description {
  white-space: pre-wrap;
  color: #000000;
}

/* Makes the created classes row from js */
.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid rgb(231, 135, 135);
  padding: 10px;
  margin: 10px;
}

/* styling for the hour */
.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
  font-size: x-large;
  text-align: center;
}


/* styling for the past hours */
.past {
  background-color: #d3d3d3;
  color: rgb(15, 9, 9);
}

/*styling for the present hours  */
.present {
  background-color: #ff6961;
  color: rgb(5, 3, 3);
}

/*styling for the future hours  */
.future {
  background-color: #77dd77;
  color: rgb(15, 7, 7);
}


